services:
  _defaults:
    public: true
    autowire: true

  Module\UpdateStock\Repository\StockRepository:
    class: Module\UpdateStock\Repository\StockRepository

  Module\UpdateStock\Service\BackupService:
    class: Module\UpdateStock\Service\BackupService
    arguments:
      $moduleDir: '%modules_dir%updatestock/'

  Module\UpdateStock\Service\ConsistencyService:
    class: Module\UpdateStock\Service\ConsistencyService

  Module\UpdateStock\Service\StockUpdateService:
    class: Module\UpdateStock\Service\StockUpdateService
    arguments:
      $stockRepository: '@Module\UpdateStock\Repository\StockRepository'
      $backupService: '@Module\UpdateStock\Service\BackupService'
      $consistencyService: '@Module\UpdateStock\Service\ConsistencyService'
      $moduleDir: '%modules_dir%updatestock/'

  Module\UpdateStock\Controller\Admin\UpdateStockController:
    class: Module\UpdateStock\Controller\Admin\UpdateStockController
    tags: ['controller.service_arguments']
